.mainDiv {
    display: flex;
    height: 100% - 500px !important;
    width: 100%;
    z-index: 2;
    background-color: white;
}

.chatPanel {
    height: 100%;
    width: 100%;
    background-color: white;
}

.matchDateDiv {
    display: flex;
    position: relative;
    height: 100px;
    flex-direction: row;
    align-items: center;
}

.matchDateDiv>div {
    display: flex;
    flex-direction: column;
    width: 40px;
    position: absolute;
    right: 10px;
}

.matchDateDiv label {
    font-size: 17px;
    margin: 0 60px 0 10px;
}

@media (min-width: 1081px) {
    .unmatchButtonDiv {
        display: none
    }
}

.messagesDiv {
    flex: 1;
    height: calc(100% - 100px - 70px) !important;
    /*^matchDateDiv == 100px, typeMessageDiv == 70px*/
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: var(--separatorColor);
}

.typeMessageDiv {
    display: flex;
    height: 70px;
    align-items: center;
}

.typeMessageInput {
    flex: 1;
    height: 45px !important;
    border-width: 0px;
    color: var(--defaultTextColor);
    margin: 0 10px 0 20px;
    font-size: 18px;
    font-weight: 500;
}

.sendMessageButton {
    height: 45px;
    border-radius: 50px;
    width: 125px;
    margin-right: 10px;
    border-width: 0;
    color: white;
    font-size: 19px;
    font-weight: bold;
}

.sendMessageButtonOn {
    background-image: linear-gradient(to right, var(--degradeColor_1), var(--degradeColor_2));
    cursor: pointer;
}

.sendMessageButtonOff {
    cursor: default;
}

.profileImageIcon {
    object-fit: cover;
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

.profilePanel {
    flex: 1;
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: var(--separatorColor);
    flex-direction: column;
}

.profileInfoDiv {
    display: flex;
    height: 100px;
    justify-content: center !important;
    flex-direction: column;
    padding: calc(var(--defaultComponentPadding) * 2);
    text-align: left;
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: var(--separatorColor);
    z-index: 1;
    background-color: white;
}

.genericText {
    margin-top: 10px;
    font-weight: 450;
    font-size: 23px;
}

.profileInfoBottomDiv {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.profileName {
    font-size: 30px !important;
}

.unmatchButtonsDiv {
    display: flex;
    height: 70px;
    width: 100%;
    flex-direction: row;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: var(--separatorColor);
}

.unmatchButtons {
    border-radius: 0px !important;
    height: calc(100% + 1px) !important;
    background-color: var(--defaultDarkerBackgroundColor) !important;
    border-style: solid !important;
    border-width: 0 1px 0 0 !important;
    border-color: var(--separatorColor) !important;
}

.unmatchButtons:hover {
    background-image: linear-gradient(to right, var(--degradeColor_1), var(--degradeColor_2));
}

.unmatchButtons:hover label {
    cursor: pointer;
    color: white;
}

.messageBalloonDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
}

.messageBalloon {
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 17px;
    align-items: center;
    max-width: 75%;
    min-height: 50px;
    min-width: 60px;
    padding: 10px 10px 20px 10px;
}

.messageBalloonRight {
    align-self: flex-end;
    text-align: right;
    border-bottom-right-radius: 0px !important;
    background-color: #3ca4ff;
    color: #ffffff;
    margin-right: 15px;
}

.messageBalloonLeft {
    align-self: flex-start;
    text-align: left;
    border-bottom-left-radius: 0px !important;
    background-color: #f1f1f1;
    color: black;
    margin-left: 15px;
}

.messageBalloonTextLabel {
    font-size: 17px;
    cursor: text;
}

.messageBalloonTimeLabel {
    font-size: 11px;
    cursor: default;
    align-self: flex-end;
    position: absolute;
    right: 5px;
    bottom: 3px;
}

.helloSaySomething {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    flex-direction: column;
}

.helloSaySomething img {
    object-fit: cover;
    border-radius: 100px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    height: 20vh;
    width: 20vh;
}

.helloSaySomething label {
    color: var(--defaultTextColor);
    align-self: center;
    margin-top: 20px;
    font-size: 17px;
}