.modal {
    min-width: var(--defaultMinModalWidth);
    max-width: 600px;
    width: 80%;
    min-height: 300px;
    max-height: 485px;
    height: 350px;
}

.form {
    min-height: 90%;
    min-width: 100%;
    text-align: center;
}
