.container {
  display: flex;
  height: 100%;  
  flex-direction: column;
}

.leftContent {
  display: flex;
  height: 100%;
  width: 100%;
  align-self: flex-start;
  border-width: 1px;
  border-style: solid;
  border-color: var(--separatorColor);
}

.leftElementHeader {
  display: flex;
  height: 65px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(to right, var(--degradeColor_1), var(--degradeColor_2));
}

.i {
  font-size: 30px;
}

.arrowLeftButton {
  height: 60px;
  width: 60px !important;
  margin-left: 10px;
  background-color: transparent !important;
}

@keyframes showArrowLeftButton {
  from {
    margin-left: -60px;
  }
  to {
    margin-left: 10px;
  }
}

@keyframes hideArrowLeftButton {
  from {
    margin-left: 10px;
  }
  to {
    margin-left: -60px;
  }
}

.profile {
  height: 100%;
  width: 100%;
}

.myProfileButton {
  height: var(--heightOfGenericComponents);
  width: 150px !important;
  margin-left: 10px;
  background-color: transparent !important;
}

.profileImageIcon {
  object-fit: cover;
  border-radius: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  height: 45px;
  width: 45px;
  margin: 0 10px 0 -10px;
}

@keyframes showLeftProfile {
  from {
    margin-left: calc(var(--dashboardLeftElementWidth) * -1);
  }
  to {
    margin-left: 0;
  }
}

@keyframes hideLeftProfile {
  from {
    margin-left: 0;
  }
  to {
    margin-left: calc(var(--dashboardLeftElementWidth) * -1);
  }
}

@keyframes showLeftProfileEditor {
  from {
    margin-left: calc(var(--dashboardLeftElementWidth) * -1);
  }
  to {
    margin-left: 0;
  }
}

@keyframes hideLeftProfileEditor {
  from {
    margin-left: 0;
  }
  to {
    margin-left: calc(var(--dashboardLeftElementWidth) * -1);
  }
}