.mainDiv {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: white !important;
}

.matchDiv {
    display: flex;
    height: 145px !important;
    width: 100%;
    margin-top: 10px;
}

.profileButton {
    position: relative;
    height: 100% !important;
    width: 100%;
    display: flex;
    border-radius: 0px !important;
    background-color: white !important;
    justify-content: center !important;
    align-items: center !important;
}

.profileButton img {
    object-fit: cover;
    height: 80%;
    width: 80%;
    border-radius: 10px;
}

.profileButton:hover img {
    transition: width 0.4s, height 0.4s;
    width: 90%;
    height: 90%;
}

.profileButton:hover label {
    transition: font-size 0.4s, left 0.4s, bottom 0.4s;
    font-size: 13px !important;
    bottom: 17px;
}

.profileButton label {
    text-align: right;
    position: absolute;
    bottom: 20px;
    font-size: 12px !important;
    font-weight: 999;
    color: white;
    text-shadow: 0.1px 0.1px 2px rgba(0, 0, 0, 1) !important;
}

.youHaveNoMatchesDiv {
    display: flex;
    flex: 1;
    height: 100% !important;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.youHaveNoMatchesDiv label {
    font-weight: 450;
    font-size: 16px;
    text-align: center;
}