.dashboard {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--defaultDarkerBackgroundColor);
  padding: 0 !important;
}

.desktopDashboard {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.mobileDashboard {
  height: 100%;
  width: 100%;
  display: none;
}

@media screen and (max-width: 1080px) {
  .desktopDashboard {
    display: none;
  }
  .mobileDashboard {
    display: flex;
  }
}
