.mainDiv {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: white !important;
}

.contactButton {
    display: flex;
    height: 100px !important;
    border-radius: 0px !important;
    background-color: white !important;
    justify-content: flex-start !important;
    margin-top: 10px;
}

.contactButton:hover {
    transition: border-width 0.2s, border-color 0.5s;
    border-style: solid !important;
    border-width: 0 15px 0 0 !important;
    border-color: var(--primaryColor) !important;
    box-shadow: 2px 2px 8px 2px #ccc;
    background-color: white !important;
}

.contactButtonSelected {
    transition: border-width 0.2s, border-color 0.5s;
    border-style: solid !important;
    border-width: 0 15px 0 0 !important;
    border-color: var(--primaryColor) !important;
    box-shadow: 2px 2px 8px 2px #ccc;
    background-color: white !important;
}

.contactButton img {
    object-fit: cover;
    border-radius: 50px;
    border-width: 2px;
    border-style: solid;
    height: 80px;
    width: 80px;
    margin: 0 10px 0 5px;
}

.textDiv {
    text-align: left;
    margin-left: 10px;
}

.contactButton p {
    font-size: 20px !important;
    color: var(--defaultTextColor);
    margin-bottom: 5px;
}

.contactButton label {
    font-size: 15.5px !important;
    font-weight: 100px !important;
    color: var(--lightTextColor);
    cursor: pointer;
}

.statusDiv {
    flex: 1;
    display: flex;
    height: 100%;
    justify-content: flex-end !important;
    font-size: 12px;
}

.statusDiv>div {
    display: flex;
    width: 12px;
    height: 12px;
    margin-top: 20px;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgba(6, 230, 17, 0.993);
}

.statusDiv i {
    color: rgba(23, 182, 31, 0.938);
    font-size: 15px !important;
}

.youHaveNoConversationDiv {
    display: flex;
    flex: 1;
    height: 100%;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.youHaveNoConversationDiv label {
    font-weight: 450;
    font-size: 16px;
}