.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: var(--defaultDarkerBackgroundColor);
}

.MessagesTabAndMatchesTabMerge {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.MessagesTabAndMatchesTabMerge>label {
  color: var(--primaryColor);
  margin: 10px 0 0 10px;
  font-size: 19px;
}

.MobileConfig {
  display: flex;
  height: 100%;
  width: 100%;
}

.userProfileCircle {
  display: flex;
  align-self: center;
  margin-top: -1050px;
  height: 1500px;
  width: 1500px;
  background-color: white;
  border-radius: 3000px;
  box-shadow: 1px 1px 3px 0.5px #ccc;
  align-items: flex-end;
}

.userPersonalInfo {
  display: flex;
  margin-bottom: 220px;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  flex-direction: column;
}

.userPersonalInfo img {
  object-fit: cover;
  border-radius: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  height: 20vh;
  width: 20vh;
}

@media (min-width: 700px), (minHeight: 1000){
  .userPersonalInfo img {
    height: 15vh;
    width: 15vh;
  }

  .userProfileButtonCenterDiv {
    margin-bottom: 20px !important;
  }
}

.userPersonalInfo label {
  color: var(--defaultTextColor);
  align-self: center;
  margin-top: 10px;
  font-size: 21px;
  font-weight: bold;
}

.userPersonalInfo span {
  color: var(--defaultTextColor);
  align-self: center;
  font-size: 13px;
}

.userProfileButtonDiv {
  display: flex;
  margin-bottom: 100px;
  width: 32vw;
  position: absolute;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.userProfileButtonDiv i {
  margin: 5px 0 0 2px;
}
.userProfileButtonCenterDiv {
  left: calc(50vw - 16.5vw);
  margin-bottom: 60px;
}

.userProfileButtonDiv label {
  font-size: 13px;
  margin-top: 10px;
}

.userProfileButtonDiv i {
  color: var(--lightTextColor);
}

.roundButton {
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  border-width: 0px;
  background-color: white;
  box-shadow: 1px 1px 3px 0.5px #ccc;
}

.roundButtonCenterDiv {
  background-color: var(--primaryColor) !important;
}

.signOutIcon {
  color: white !important;
}
