/********or********/

.rule>div {
    display: table-cell;
}

.divLine {
    width: 50%;
    vertical-align: middle;
}

.divLine>div {
    margin-bottom: 2px;
    border-bottom: 1px solid silver;
}

.words {
    cursor: default;
    padding: 0 5px;
}

.separator {
    width: 100%;
    vertical-align: middle;
    border-bottom: 1px solid silver;
    margin: 15px 0;
}

.loaderDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--opaqueBackgroundColor);
    z-index: 1;
}

.datePickerDiv {
    display: flex;
    height: 40px;
    max-height: 42px;
    margin-bottom: var(--defaultMarginBetweenComponents);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(206, 206, 206);
    border-radius: var(--smallBorderRadius);
    justify-content: center !important;
}

.datePickerDiv p {
    margin: 0 0 0 4px;
    color: var(--placeholderColor);
}

.datePickerButton {
    justify-content: left !important;
    color: var(--placeholderColor) !important;
    color: var(--defaultTextColor);
    padding: var(--defaultComponentPadding);
    background-color: white !important;
}

.calendar {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.Selector {
    height: 40px !important;
    margin-bottom: var(--defaultMarginBetweenComponents);
}

.SliderMainDiv {
    height: 80px;
    margin-top: -1px;
    padding: 0 20px !important;
    background-color: white;
}

.sliderTitleDiv {
    display: flex;
    height: 45px;
    flex-direction: row !important;
}

.sliderH3Left {
    flex: 1;
    text-align: left;
}

.sliderH3Right {
    flex: 1;
    text-align: right;
}

.divBtnClose {
    display: flex;
    justify-content: flex-end;
    margin: 0px -25px 0 0;
    background-color: sandybrown;
}

.buttonClose {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    height: var(--heightOfGenericComponents);
    width: var(--heightOfGenericComponents);
    font-size: 16px;
    border-radius: var(--mediumBorderRadius);
    background-color: white;
    color: var(--lightTextColor);
    background-color: white;
}

.buttonClose:hover {
    background-color: var(--buttonHoverColor);
    cursor: pointer;
}

.buttonClose:active {
    background-color: var(--buttonClickColor);
}

.infoButton {
    height: 55px !important;
    display: flex;
    align-items: center;
    flex-direction: row !important;
    border-radius: 0 !important;
    border: 1px solid var(--separatorColor) !important;
    background-color: white !important;
    margin-top: -1px;
}

.infoButtonH3Left {
    flex: 3.5;
    font-size: 16px !important;
    text-align: left;
    margin-left: var(--defaultMarginBetweenComponents);
    cursor: pointer !important;
}

.infoButtonH3Right {
    flex: 4;
    max-width: 60%;
    text-align: right;
    margin-right: 7px;
    font-size: 14.5px !important;
    word-wrap: break-word;
    cursor: pointer !important;
}

.infoButtonH3Right:hover {
    color: var(--primaryColor);
}

.infoButton i {
    font-size: 17px;
    width: 10px !important;
    color: var(--separatorColor);
    margin-right: 7px;
}

.switcherDiv {
    height: 50px !important;
    display: flex;
    align-items: center;
    flex-direction: row !important;
    border-radius: 0 !important;
    border: 1px solid var(--separatorColor) !important;
    background-color: white !important;
    margin-top: -1px;
}

.switcher {
    margin-right: var(--defaultMarginBetweenComponents);
}

.switcherH3Left {
    flex: 1;
    text-align: left;
    margin-left: var(--defaultMarginBetweenComponents);
    cursor: pointer !important;
}

.subtitleLeftElement {
    display: flex;
    height: 55px;
    align-items: flex-end;
}

.profileGenericButton {
    margin-top: 15px;
    height: 50px !important;
    display: flex;
    align-items: center;
    flex-direction: row !important;
    border-radius: 0 !important;
    border: 1px solid var(--separatorColor) !important;
    background-color: white;
}

.profileGenericButton h3 {
    flex: 1;
    text-align: center;
}

.inputDiv {
    display: flex;
    border-style: solid;
    width: 100%;
    border-width: 1px;
    border-radius: var(--smallBorderRadius);
    border-color: rgb(206, 206, 206);
    flex-direction: row !important;
    margin-bottom: var(--defaultMarginBetweenComponents);
    background-color: var(--buttonHoverColor);
}

.inputDiv>input {
    flex: 1;
    margin: 0 4px 0 !important;
}

.inputDiv>button {
    background-color: var(--buttonHoverColor);
    width: 40px !important;
    color: var(--lightTextColor);
}

.weFoundALocationProblem {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0;
    justify-content: center;
}

.weFoundALocationProblem h2 {
    align-self: center !important;
    font-size: 23px !important;
    font-weight: 600;
    color: var(--primaryColor) !important;
}

.weFoundALocationProblem p {
    font-size: 17px !important;
    color: var(--lightTextColor);
    cursor: default;
}

.iconLabelDiv {
    display: flex;
    height: 25px;
    justify-content: flex-start;
    flex-direction: row !important;
}

.iconLabelDiv i {
    font-size: 20px;
    width: 30px;
    color: var(--lightTextColor);
}

.iconLabelDiv h3 {
    text-align: left;
    margin-left: 7px;
    font-size: 16px !important;
    word-wrap: break-word;
}

@media (min-width: 0) {
    .carouselImage {
        height: var(--matchSearcherCardHeightMin0Width) !important;
        width: var(--matchSearcherCardWidthMin0Width) !important;
        object-fit: cover;
    }
}

@media (min-width: 768px) {
    .carouselImage {
        height: var(--matchSearcherCardHeightMin768Width) !important;
        width: var(--matchSearcherCardWidthMin768Width) !important;
        object-fit: cover;
    }
}

@media (min-width: 1024px) {
    .carouselImage {
        height: var(--matchSearcherCardHeightMin1024Width) !important;
        width: var(--matchSearcherCardWidthMin1024Width) !important;
        object-fit: cover;
    }
}

.roundButtonWithIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-width: 0;
    margin-right: 10px;
    background-color: transparent;
}

.roundButtonWithIcon:hover {
    background-color: var(--buttonHoverColor);
    cursor: pointer;
}

.genericDoubleBottomButton {
    justify-content: space-around !important;
}

.genericDoubleBottomButton button {
    width: 45%;
}

.tabNavigator {
    /*48px it's tab navigator's header:*/
    height: calc(100% - 48px);
    width: 100%;
}

.tabItem {
    height: 100%;
    width: 100%;
}

.tabNavigator i {
    font-size: 20px;
    width: 30px;
    color: var(--primaryColor);
}

.developedBy {
    display: flex;
    height: 60px;
    margin: 5px 0 10px 0;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.developedBy label {
    font-size: 13px;
    margin-top: 4px;
}

.developedByEmailDiv {
    font-size: 10px !important;
    margin-top: 9px;
}

.appVersion {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    height: 55px;
    align-items: center;
    justify-content: center;
}

.appVersion img {
    width: 25px;
    height: 25px;
}

.appVersion h3 {
    margin: 8px;
}

.GenericHeader {
    display: flex;
    height: 65px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(to right, var(--degradeColor_1), var(--degradeColor_2));
}

.GenericHeader p {
    font-size: 20px;
    color: white;
}

.arrowLeftButton {
    height: 60px;
    width: 60px !important;
    margin-left: 10px;
    background-color: transparent !important;
}